body{
    margin : 0;
    padding: 0;
}

.nav-bar{
    display : flex;
    margin: 0;
    padding : 0;
    background-color: red;
    height : 80px;
}

.container2{
    margin: 25px 30%;
    font-size: 20px;
}

.input{
    width: 500px;
    border: solid black 2px;
    height : 30px;
}

.box{
   
    margin-left: 100px;
}
#user{
    margin-left:200px;
}